img {
  width: 500px;
  height: 500px;
}

.place {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 950px) {
  .place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 550px) {
  .place {
    font-size: 12px;
  }
  img {
    width: 300px;
    height: 300px;
  }
}
